extends layout 

block stylesheet
    link(rel='stylesheet', href='/stylesheets/home.css')


block content
    div.home
        p Special messages for #[span members] only
        p Only members can send the messages
        ul
            each message in messages
                li
                    if message.isFirstMessageOfTheDay
                        div.date= message.date
                    div.content
                        div.profile
                            if message.user.imageUrl
                                img.avatar(src=message.user.imageUrl alt=message.user.name)                                
                            else
                                span.icon.mdi--anonymous
                        if !loginUser || loginUser.id  !==   message.user.id
                            p.name!= message.user.name
                        if loginUser && loginUser.isAdmin
                            div.link
                                a(href="/") 
                                    span.icon.mdi--delete
                                a(href="/") 
                                    span.icon.mdi--edit
                        div.speechBalloon
                            div.triangle
                            div.message
                                p!= message.content
                        p.timestamp= message.user.createdAt ? message.user.createdAt : '15:33'
        if loginUser
            a.addMessage(href="/club/message/create")
                span.icon.mdi--message-plus