extends layout 

block head
    link(rel='stylesheet', href='/stylesheets/home.css')
    script(type='text/javascript', src='/javascripts/getScrollPosition.js', defer, nonce=cspNonce)
    script(type='text/javascript', src='/javascripts/formatDates.js', defer, nonce=cspNonce)


block content
    div.home
        p Special messages for #[span members] only
        p Only members can send the messages
        ul
            each message in messages
                li(class= (loginUser && loginUser.id === message.user.id ? 'reverse' : ''))
                    if message.isFirstMessageOfTheDay
                        div.date= message.createdAt ? message.createdAt : new Date()
                    div.wrap
                        div.content(class= (removeId && removeId === message.id ? 'remove' : '') )
                            div.profile
                                if loginUser
                                    div= message.user.nameFirstLetter
                                else
                                    span.icon.mdi--anonymous
                            div.topBar
                                p.name!= (!loginUser || loginUser.id  !==  message.user.id) ?  message.user.name : 'You'
                                if loginUser && (loginUser.isAdmin || loginUser.id === message.user.id )
                                    div.link
                                        a(href=`/club/message/delete/${message.id}`) 
                                            span.icon.mdi--delete
                                        a(href=`/club/message/update/${message.id}`) 
                                            span.icon.mdi--edit
                            div.bottomBar
                                div.speechBalloon
                                    div.triangle
                                    div.message
                                        p!= message.content
                                p.time= message.createdAt ? message.createdAt : new Date()
                        if loginUser && removeId && removeId === message.id 
                            div.removeWrap
                                div.alert
                                    p Do you really want to delete?
                                    form(method='POST')
                                        a(href='/club') Cancel
                                        button.submit(type='submit') Delete      
        if loginUser
            a.addMessage(href="/club/message/create" title="Send a message")
                span.icon.mdi--message-plus
                p Send